if ! on_git_branch; then
    echo "WARNING: Not in a git repo or on a non-main branch"
else
    if [[ $(git symbolic-ref --short HEAD) == "main" ]]; then
        echo "WARNING: On MAIN branch"
    fi
fi

if has nix; then
    if has nix-direnv; then
        nix_direnv_watch_file *.nix .*.nix pom.xml
    else
        watch_file *.nix .*.nix pom.xml
    fi
    use flake
else
    echo "ERROR: Nix package manager not found"
fi
